<div class="container-fluid">
  <div class="row fix-view">
   <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">Product Name</div>
      <div class="panel-body">Product details
        <div class="btn-group">
          <button type="button" class="btn btn-primary"><span class="halflings halflings-minus"></span></button>
          <button type="button" class="btn btn-primary">Qty</button>
          <button type="button" class="btn btn-primary"><span class="halflings halflings-plus"></span></button>
        </div>
      </div>
      <button type="button" class="btn btn-info">Buy</button>
    </div>
   </div>
  </div>
</div>