<div class="container">
    <div class="sidenav">
        <h4>Price</h4>
        <div class="checkbox">
          <label><input type="checkbox" value="">500-1500</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">1500-3000</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">3000-Max</label>
        </div>
        <h4>Brand</h4>
        <div class="checkbox">
          <label><input type="checkbox" value="">Adidas</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Nike</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">H&M</label>
        </div>
    </div>
      
      <!-- Page content -->
      <div class="main fix-view">
          <div class="row">
              <div class="column" *ngFor="let x of items">
                <div class="card">
                  <div class="card-container">
                    <img src="{{x.product_image_url}}"/>
                    <h4 class="p-name">{{x.product_name}}</h4>
                    <p>Category: {{x.category}}</p>
                    <p class="title">Price: {{x.product_price}}</p>
                    <p>Brand: {{x.brand}}</p>
                    <p>Size: {{x.size}}</p>
                    <p>Discount: {{x.discount}}</p>
                    <p><a [routerLink]="['/product', x._id]" class="btn btn-primary">Buy</a></p>
                  </div>
                </div>
              </div>
              
          </div>
          <ul class="pagination">
            <h5>Go to Next Page</h5>
           <li class="active"><a href="#">1</a></li>
           <li><a href="#">2</a></li>
           <li><a href="#">3</a></li>
           <li><a href="#">4</a></li>
           <li><a href="#">5</a></li>
         </ul>
      </div>
</div>
