<div class="container">
    <div class="sidenav">
        <h4>Price</h4>
        <div class="checkbox">
          <label><input type="checkbox" value="">500-1500</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">1500-3000</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">3000-Max</label>
        </div>
        <h4>Brand</h4>
        <div class="checkbox">
          <label><input type="checkbox" value="">Adidas</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Nike</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">H&M</label>
        </div>
    </div>
      
      <!-- Page content -->
      <div class="main">
          <ul class="pagination">
               <h5>Go to Next Page</h5>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
            </ul>
          <div class="row">
              <div class="column">
                <div class="card">
                  <img src="assets/img/team1.jpg" alt="Jane" style="width:100%">
                  <div class="card-container">
                    <h2>Casual T-shirt</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Buy</button></p>
                  </div>
                </div>
              </div>
            
              <div class="column">
                <div class="card">
                  <img src="assets/img/team2.jpg" alt="Mike" style="width:100%">
                  <div class="card-container">
                    <h2>T-Shirt</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Buy</button></p>
                  </div>
                </div>
              </div>
            
              <div class="column">
                <div class="card">
                  <img src="assets/img/team3.jpg" alt="John" style="width:100%">
                  <div class="card-container">
                    <h2>Formal Shirt</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Buy</button></p>
                  </div>
                </div>
              </div>
            </div>
      </div>
</div>
