
<div class="container">

    <div class="sidenav">
        <a href="#">Price</a>
        <div class="ui-g" style="width:250px;margin-bottom:10px">
          <div class="ui-g-12"><p-checkbox name="group1" value="New York" label="New York" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox></div>
        
          <div class="ui-g-12"><p-checkbox name="group1" value="New York" label="New York" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox></div>
            <div class="ui-g-12"><p-checkbox name="group1" value="New York" label="New York" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox></div>

          </div>
        Selected Cities: <span *ngFor="let city of selectedCities" style="margin-right:10px">{{city}}</span>
        <a href="#">Availability</a>
        

        <a href="#">Brand</a>
    </div>
      
      <!-- Page content -->
      <div class="main">
          <div class="row">
              <div class="column">
                <div class="card">
                  <img src="assets/img/team1.jpg" alt="Jane" style="width:100%">
                  <div class="card-container">
                    <h2>Casual T-shirt</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Buy</button></p>
                  </div>
                </div>
              </div>
            
              <div class="column">
                <div class="card">
                  <img src="assets/img/team2.jpg" alt="Mike" style="width:100%">
                  <div class="card-container">
                    <h2>T-Shirt</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Buy</button></p>
                  </div>
                </div>
              </div>
            
              <div class="column">
                <div class="card">
                  <img src="assets/img/team3.jpg" alt="John" style="width:100%">
                  <div class="card-container">
                    <h2>Formal Shirt</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Buy</button></p>
                  </div>
                </div>
              </div>
            </div>
      </div>
</div>
