
<div class="container">

    <div class="sidenav">
        <a href="#">Price</a>
        <label class="container">One
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">Two
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">Three
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">Four
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <a href="#">Availability</a>
        
        <a href="#">Brand</a>
    </div>
      
      <!-- Page content -->
      <div class="main">
          <div class="row">
              <div class="column">
                <div class="card">
                  <img src="img1.jpg" alt="Jane" style="width:100%">
                  <div class="card-container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Buy</button></p>
                  </div>
                </div>
              </div>
            
              <div class="column">
                <div class="card">
                  <img src="img2.jpg" alt="Mike" style="width:100%">
                  <div class="card-container">
                    <h2>Mike Ross</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Buy</button></p>
                  </div>
                </div>
              </div>
            
              <div class="column">
                <div class="card">
                  <img src="img3.jpg" alt="John" style="width:100%">
                  <div class="card-container">
                    <h2>John Doe</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Buy</button></p>
                  </div>
                </div>
              </div>
            </div>
      </div>
</div>
