<div class="container-fluid">
   <div class="jumbotron">
      <h1>Demo Project</h1> 
      <p>Product Selling Website</p> 
    </div>
   
<div class="row">
  <h3 class="p-20">Select Product by Category</h3>
   <div class="col-sm-6">
    <div class="list-group">
      <a routerLink="/product-category" class="list-group-item">Mens</a>
      <a routerLink="/product-category" class="list-group-item">Women</a>
      <a routerLink="/product-category" class="list-group-item">Fashion</a>
    </div>
   </div>
   <div class="col-sm-6">
    <div class="list-group">
      <a routerLink="/product-category" class="list-group-item">Electronic</a>
      <a routerLink="/product-category" class="list-group-item">Home & Furniture</a>
      <a routerLink="/product-category" class="list-group-item">Grocery</a>
    </div>
   </div>
   </div>
</div>